@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(218, 23%, 16%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(193, 38%, 86%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.button-dice:hover {
  box-shadow: 0 0 24px hsl(150, 100%, 66%); /* Neon Green Shadow on hover */
}
